<div class="grid-container">
	<div class="wrapper">
		<div class="grid1"><span>Grid 1</span></div>
		<div class="grid2"><span>Grid 2</span></div>
		<div class="grid3"><span>Grid 3</span></div>
	</div>
</div>