.icon-bubbles2 { background-image: url('png/bubbles2.png'); background-repeat: no-repeat; }

.icon-connection { background-image: url('png/connection.png'); background-repeat: no-repeat; }

.icon-credit-card { background-image: url('png/credit-card.png'); background-repeat: no-repeat; }

.icon-display { background-image: url('png/display.png'); background-repeat: no-repeat; }

.icon-qrcode { background-image: url('png/qrcode.png'); background-repeat: no-repeat; }

